body {
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(255 255 255);
}

h1 {
    color: rgb(23, 123, 140);
    font-family: 'Artifika', serif, system-ui;
    text-align: center;
}

div.about{
    position: static;
    font-family: 'Artifika', serif;
    float: left;
    padding: 1em 1em 1em 2em;
    margin: 1em 1em 1em 1em;
}

h2.about {
    font-family: 'Ledger', serif;
    background-color: #0F0f39;
    position: relative;
    text-align: center;
    color: darkslategray;
    font-size: 2em;
    border-radius: 5px;
    margin: 1em 0em 1em 0em;
}

p.about {
   position: relative;
   text-align: left;
   font-family: 'Ledger', serif, system-ui;
   font-size: 22px;
   width: 346px;
   background-color: darkslategray;
   border-radius: 65px 20px 20px 20px;
   margin: 0px 5px 0px 16px;
   padding: 6px 13px 12px 10px;
   color: #0f0f39;
}

img {
    position: relative;
    width: 140px;
    padding: 0px 5px 0px 5px;
    float: inherit;
    z-index: 2;
    border-radius: 50%;
}

div.lsites {
    padding: 5px 0px 5px 2px;
    margin: 65px 20px;
    float: right;
}

h3.lsites {
    font-family: 'Ledger', serif, system-ui;
    color: darkseagreen;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px;
    padding: 5px 40px 10px 0px;
}

ul.lsites {
    list-style-type: square;
    color: darkblue;
    font-size: 18px;
    font-family: 'Artifika', serif, system-ui;
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 5px 25px;
}

li {
    margin: 0px 5px 5px 0px;
    padding: 5px 0px 5px 5px;
    position: relative;
}

a {
    font-family: 'Fresca', serif, system-ui;
    text-decoration: none;
    color: darkmagenta;
}

a:hover {
    color: #fff;
    left: 15px;
    bottom: 10px;
    position: relative;
}