body {
    background: #e9e9e9;
    background-image: url('l4 tree in park five trees in abstract smaller.jpg');
    background-size: cover;
    opacity: 1;
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    background-repeat: no-repeat;
}
h1 {
    grid-row-start: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    color: rgb(104, 85, 57);
    font-size: 48pt;
    font-family: 'Martel', serif;
    text-align: justify;
  
    background-image: linear-gradient(120deg, rgb(30,77,53) 0%, rgb(245, 233, 149) 50%, rgb(28, 33, 104) 10%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    background-color:bisque;
    transition: background-size 0.25s ease-in;        
}
h2 {
    grid-row-start:2;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-size: 32px;
    width: 400px;
    padding: 0px 0px 0px 0px;
    margin:: 0px 0px 0px 0px;
    background-color:crimson;
}
p {
   grid-row-start: 3;
   grid-column-start: 1;
   grid-column-end: auto;
   grid-row-end: auto;
   text-align: justify;
   width:400px;
   margin-right:20px;
   background-color:azure;
}
img {
    align-items:center;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding-bottom: 40px;

}

ul {
    list-style-type: none;
    grid-row-start: 4;
    grid-column-start: 1;
    width: 300px;
    font-size: 14pt;
} 

ul:before {
    content: 'Learning Sites';
    font-family: 'Bitter', sans-serif;
    color: rgb(0 0 0);
    background-color: crimson;
    font-size: 32px;
    height:inherit;
    padding-top: 0px;
    margin: 0px;
    font-weight:bold;
}

li {
    padding: 10px 15px 5px 10ox;
    margin: 15px 10px 0px 1px;
}

a {
    color: rgb(46 8 113);
    display: inline-block;
    background-color:aliceblue;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }
  a:after {
    background: linear-gradient(to bottom, rgb(245, 233, 149), rgb(245, 233, 149)) center 1.08em/100% 2px no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 400%;
    will-change: transform;
    z-index: -1;
  }
  a:hover:after {
    -webkit-animation: underline-gradient 6s linear infinite;
            animation: underline-gradient 6s linear infinite;
    background-image: linear-gradient(90deg, rgba(122, 95, 255, 0.8) 15%, rgba(1, 255, 137, 0.6) 35%, rgba(122, 95, 255, 0.8) 85%);
  }
