 /* import fonts */

 @font-face {
  font-family: 'Artifika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/artifika/v18/VEMyRoxzronptCuxu5Wq7DE.woff2) format('woff2');
} 

@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v12/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMw.woff2) format('woff2');
}

/* text styles*/

h1 {
  font-size: 8vmin;
  font-family: Artifika, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #464244c9;
  text-shadow: 3px 3px 1px rgba(25, 25, 255, 0.795);
}
  
h2 {
  font-size: 6vmin;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 1px 2px 2px rgb(255, 25, 175);
}

h3 {
  font-size: 4vmin;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  margin: 7vmin 5vmin;
  color:#7d81ff ;
}

p {
  font-family: Artifika, Arial, Helvetica, sans-serif;
  color: #94c6c3; 
  font-size: 3vmin;
  line-height: 5vmin;
  margin: 12px 25px;
  padding: 12px;
}

/* navigation */

nav {
  background-color: #1a1f3a;
  display: flex;
  flex: auto;
  width: auto;
  margin: auto;
}

nav ul, nav li {
  list-style-type: none;
  flex: auto;
  display: flex;
  margin: auto;
  padding: .75vmin 1vmin;  
  text-align: center;
  font-size: 3vmin;
}

nav a {
  display: flex;
  font-family: Artifika, Arial, Helvetica, sans-serif;
  flex: auto;
  font-size: 3vmin;
  text-transform: uppercase;
  text-decoration: none;
  color: #9dd9ff;
  padding: 0;
  margin: 1.5vmin;
}
  
/* general layout */

html, body {
  margin: auto;
  padding: 0;
}
  
html {
  display: flex;
  flex: auto;
  font-size: 3vmin;
  background-color: #000000;
  width: auto;
}
  
body {
  display: flexbox;
  flex: auto;
  max-width: 1200px;
  height: auto;
}

 /* main layout */

main {
  display: flexbox;
  flex: auto; 
  flex-direction:column;
  background-color: rgb(14, 55, 82); 
  width: auto;
}
   
.index {
  display: block;
  max-width: 35%;
  min-width: 25%;
  padding: 0 2rem 7rem 0;
  margin: auto;
}

.learn {
  display: inline-block;
  border-color:rgb(110, 110, 110);
  border-radius: 12px;
  box-shadow:  1px 1px 15px 1px rgb(112, 104, 122);
  max-width: 18%;
  padding: 5px;
  margin: 12px;
}

.span, video, .span p{
  text-align: center;
  font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
  font-size: 4vmin;
  font-weight: 600;
  text-shadow: 3px 3px 3px #000000;
  color: #7b3f7e;
  padding: 25px 10px;
  max-width: 90vmin;
  margin: 0 5px 0;
  display: block;
}

.btnp {
  font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 3vmin;
  background: rgb(125, 0, 255);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 10px rgba(220,20,210,0.4);
  border-radius: 50px;
  padding: 10px;
  margin: 50px auto;
  display: block;
  width: auto;
  cursor: pointer;
}

section, section div, section p, #btun {
  text-align: center;
  max-width: 80vmin;
  min-width: 50vmin;
  color: black;
  margin: auto;
  padding: 10px;
  background-color: #7b3f7e;
  background-image: linear-gradient(90deg, rgba(10,55,255,0.5), rgba(25,255,255,0.3), rgba(255,255,255,0));
}


.lastResult {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: auto;
  width: 10px;
  text-align: center;
  display: inline-block;
}

article p{
  color: #858585;
  text-align: justify;
  font-family: Artifika, Arial, Helvetica, sans-serif;
  font-size: 3.5vmin;
  max-width: 80vmin;
  margin: auto;
  padding: 10px 5px 50px 25px;
}
  
/* aside, links, and footer */

aside ul {
  font-family: "Modern No. 20", Arial, Helvetica, sans-serif;
  list-style-type: none;
  font-size: 3.5vmin;
  line-height: 5vmin;
  text-align: center;
  margin: auto;
  padding: 25px;
  
}

aside a{
  color: rgb(198, 61, 61);
}

aside a:hover{
  position: relative;
  bottom: 10px;
  right: 10px;
  color: white;
}

aside a:active{
  color: rgb(221, 218, 19);
}

aside a:after{
  color: lime;
}

p a{
  color: rgb(198, 61, 61);
  font-size: 3.5vmin;
  line-height: 5vmin;
}

p a:hover{
  position: relative;
  bottom: 10px;
  left: 10px;
  color: white;
}

p a:active{
  color: rgb(221, 218, 19);
}

p a:after{
  color: lime;
}

div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 30vw 30vw;
  grid-template-columns: 30vw 30vw 30vw;
  margin:0;
}

div.container p a{
  line-height: 5vmin;
}

.contact {
  color: rgb(220, 120, 220);
  font-size: 3vmin;
}

.contact-message {
  width: auto;
  color:#ffffff;
  font-size: 3vmin;
}

footer, footer p {  
  font-size: 2vmin;
  padding: 5px;
  text-align: center;
  margin: auto;
  background-color: #1a1f3a;
  color: #9dd9ff;
  display: block;
}
